<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Новости{% endblock title %}</title>
  </head>
  <body>

    {% include 'news/inc/_nav.html' %}

    <div class="container">

        <div class="row">
          <div class="col-md-3">
            {% block sidebar %}
              SIDEBAR
            {% endblock sidebar %}
          </div>

          <div class="col-md-9">
            {% block content %}
              CONTENT
            {% endblock content %}
          </div>

        </div>
    </div> 


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}">
    </script>
  </body>
</html>