<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

    {% for item in news %}
        <div>
            <p><h3>{{ item.title }}</h3></p>
            <p>{{ item.content }}</p>
            {% comment %} Filter this {% endcomment %}
            <p>{{ item.created_at | date:"Y-m-d H:i" }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>