{% extends 'news.html' %}

{% block title %}
    БОТЫ
{% endblock title %}


{% block sidebar %}

  {% include 'news/inc/_sidebar.html' %}

{% endblock sidebar %}

{% block content %}

<h1>Отправка собщение</h1>

<form action="{% url 'micro_server:msg' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% comment %}     
    {{ form.non_field.errors }}
    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">Название: </label>
        {{ form.title }}
        <div class="invalid-feedback">
            {{ form.title.errors }}
        </div>
    </div>

    <div class="mb-3">
        <label for="{{ form.content.id_for_label }}" class="form-label">Содержание: </label>
        {{ form.content }}
        <div class="invalid-feedback">
            {{ form.content.errors }}
        </div>
    </div>


    <div class="mb-3">
        <label for="{{ form.category.id_for_label }}" class="form-label">Категория: </label>
        {{ form.category }}
        <div class="invalid-feedback">
            {{ form.category.errors }}
        </div>
    </div>

    <div class="mb-3">
        <label for="{{ form.is_published.id_for_label }}" class="form-label">Опубликовать: </label>
        {{ form.is_published }}
        <div class="invalid-feedback">
            {{ form.is_published.errors }}
        </div>
    </div> 
    {% endcomment %}

    {% comment %}     
    {% for field in form %}
    <div class="form-group">
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
        </div>

        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    {% endcomment %}


    <button type="submit" class="btn btn-primary btn-block">
        Отправить сообщение
    </button>
</form>

{% endblock content %}