{% extends 'news.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock title %}


{% block sidebar %}
<div class="col-md-3">
    <div class="list-group">
      {% for item in categories %}

      <a href="{% url 'news:category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
      {% endfor %}
    </div>
</div>

{% endblock sidebar %}


{% block content %}

<div class="col-md-9">
    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: <a href="{% url 'news:category' item.category.pk %}"> {{ item.category }} </a>
            </div>
            <div class="card-body">
                <div class="media">
                  {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="" width="350px" class="mr-3">
                  {% else %}
                    <img src="https://cdn.pixabay.com/photo/2013/07/13/12/47/girl-160326_960_720.png" alt="" width="350px" class="mr-3">
                  {% endif %}
                  <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content }}</p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                  </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at| date:"Y-m-d H:i:s" }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
